.kirinti_navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding:2rem 6rem;
}
.kirinti_navbar-links{
    flex:1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.kirinti_navbar-links_logo{
    margin-right: 0.5rem;
}
.kirinti_navbar-links_logo img {
    width: 193.5px;
    height: 72.02px;
}


.kirinti_navbar-links_container{
    display:flex;
    flex-direction: row;
}
.kirinti_navbar-sign{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.kirinti_navbar-links_container p,
.kirinti_navbar-sign p,
.kirinti_navbar-menu_container p {
    color : #fff;
    font-family: var(--font-family);
    font-weight:500;
    font-size: 18px;
    line-height: 25px;
    text-transform:  capitalize;

    margin: 0 1rem;
    cursor: pointer;
}

.kirinti_navbar-sign button,
.kirinti_navbar-menu_container button {
   padding: 0.5rem 2 rem;
   color: #fff;
   background: #FF4820;
   font-family: var(--font-family);
   font-weight: 600;
   font-size: 18px;
   line-height:20px;
   width: 130px; 
   height: 55px;  
   border-radius: 20px;
   border: 0;
   outline: none;
   cursor: pointer;

   
 }
 

.kirinti_navbar-account,
.kirinti_navbar-menu_container {
   padding: 5rem 2 rem;
   color: #fff;
   position: absolute;
   width: 57px;
   height: 65px;
   left: 1320px;
   top: 67px;
   

   
 }
 .kirinti_navbar-menu{
     margin-left: 1 rem;
     
     display: none;
     position: relative;
     
 }
 .kirinti_navbar svg{
     cursor:pointer;
 }
 .kirinti_navbar-menu_container{
     display:flex;
     justify-content: flex-end;
     align-items: flex-end;
     flex-direction: column;

     text-align: end;
     background: var(--color-footer);
     padding:  2rem;
     position: absolute;
     top: 40px;
     right: 0;
     margin-top: 1rem;
     min-width: 210px;
     border-radius: 5px;
     box-shadow: 0 0 5 rgba(0,0,0,0.2);
 }
 .kirinti_navbar-menu_container p{
     margin: 1rem 0;
 }

 .kirinti_navbar-menu_container-links-sign{
     display: none;
 }

 @media screen and (max-width: 1050px){
     .kirinti_navbar-links_container{
         display: none;
     }
     .kirinti_navbar-menu{
         display:flex;
     }
 }

 @media screen and (max-width: 700px){
    .kirinti_navbar{
        padding: 2rem 4rem; 
    }
}
